{% extends "base.html" %} {% block main %}

<div class="content-ot">
    <div class="f-pwc">
        <div class="card f-mt15">
            <div class="f-fs20 f-mt20 f-bb f-lh45">账号设置</div>
            <div id="edit">
                <div class="f-mt30">
                    <label class="f-fl">头像</label>
                    <div class="f-cb" style="margin-left:180px;"> 
                        
                    </div>
                </div>
                <div class="f-mt30">
                    <label class="f-fl f-lh25">昵称</label>
                    <div class="f-cb" style="margin-left:180px;"> 
                        <input type="text" id="nickname" name="nickname" class="l-txt txtnn">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}