{% extends "base2.html" %} {% block main %}

<div class="contentlist">
    <div class="f-pwc">
        <div class="cardshow f-mt15">
            <div class="f-hlist">
                <div class="f-fs24 f-ls1 f-hpb">
                    <a href="#" target="_blank">天台上的萤火虫</a>
                </div>
                <div class="f-fs12">
                    by / 马茉莉和苏小盒
                </div>
                <div class="f-jpd f-lh20 f-fs13">
                    我好啥地方吉拉拉是看得见，傅雷家书sad就发了解到发了解了解啊顺丰。到付辣椒水父类 我好啥地方吉拉拉是看得见傅雷！家书sad就发了解到发了解了，解啊顺丰到付辣椒水父类 我好啥地方吉拉拉是看得见傅雷家书sad就发了解到发了解了解啊顺丰到付辣椒水父类
                    我好啥地方吉拉拉是看得见傅雷家书sad就发了解到发了解了解啊顺丰到付辣椒水父类 我好啥地方吉拉拉是看得见傅雷家......
                </div>
                <div class="f-pt10 f-cb f-fs12">
                    <div class="tcard f-fl f-mr10 f-cr5">动漫</div>
                    <div class="f-lh18 f-cr4">阅读:1000&nbsp;&nbsp;|&nbsp;&nbsp;评论:23&nbsp;&nbsp;|&nbsp;&nbsp;喜欢:89</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("ul li").eq(0).addClass("active");
</script>
{% endblock %}