{% extends "base2.html" %} {% block main %}

<div class="contentlist">
    <div class="f-pwc">
        <div class="cardshow f-mt15">
            <div style="margin:30px 30px 15px 30px;">
                <div style="font-size:24px;cursor:pointer;letter-spacing:1px;padding-bottom:6px;">
                    天台上的萤火虫
                </div>
                <div style="font-size:12px;">
                    by / 马茉莉和苏小盒
                </div>
                <div style="padding:25px 0;line-height:20px;font-size:13px;">
                    我好啥地方吉拉拉是看得见，傅雷家书sad就发了解到发了解了解啊顺丰。到付辣椒水父类 我好啥地方吉拉拉是看得见傅雷！家书sad就发了解到发了解了，解啊顺丰到付辣椒水父类 我好啥地方吉拉拉是看得见傅雷家书sad就发了解到发了解了解啊顺丰到付辣椒水父类
                    我好啥地方吉拉拉是看得见傅雷家书sad就发了解到发了解了解啊顺丰到付辣椒水父类 我好啥地方吉拉拉是看得见傅雷家书sad就发了解到发了解了解啊顺丰到付辣椒水父类
                </div>
                <div class="f-pt10 f-cb f-fs12">
                    <div class="tcard f-fl f-mr10" style="color:#78bc85;">动漫</div>
                    <div class="f-lh18 f-cr4">阅读:1000&nbsp;&nbsp;|&nbsp;&nbsp;评论:23&nbsp;&nbsp;|&nbsp;&nbsp;喜欢:89</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}