{% extends "base.html" %} {% block main %}
<div class="content-ot">
    <div class="f-pwc">
        <div class="login">
            <div class="f-fs16 f-tac f-mt30 f-mb20">
                欢迎回来，请登录
            </div>
            <div class="f-pd30">
                <div>邮箱</div>
                <div>
                    <input type="text" id="email" name="email" placeholder="请输入邮箱" class="l-txt l-txtwh" />
                </div>
                <div class="f-pt10">密码</div>
                <div>
                    <input type="password" id="password" name="password" placeholder="请输入密码" class="l-txt l-txtwh" />
                </div>
            </div>
            <div class="f-m30 f-fr">
                <a href="#" class="btn btnv5 f-wm f-fs16 f-cr1">登 录</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}