{% extends "base2.html" %} {% block main %}

<div class="contentlist">
    <div class="f-pwc">
        <div class="cardshow f-mt15">
            <div class="f-hlist">
                <div class="f-rdm">
                    <div class="f-fs36">
                        单身的人就喜欢给自己加戏
                    </div>
                    <div class="author">
                        <a href="#" class="avatar">
                            <img src="/static/img/1c.jpg">
                        </a>
                        <div class="info f-fs16">
                            <div class="author-card f-fl f-mr10 f-cr5">作者</div>
                            <span><a href="#">没有梦想的咸鱼</a></span>
                            <div class="f-mt5 f-cr4 f-fs12">
                                <span>2017.06.08 11:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="read-content">
                        11111
                    </div>
                    <div class="f-mt30">
                        <div class="btn-like f-wm">
                            <a>
                                <i class="like-icon"></i>
                                喜欢
                                <i class="like-num">1</i>
                            </a>
                        </div>
                    </div>
                    <div class="comm f-mt30 f-cb">
                        <div>
                            <textarea class="l-txt commwh" rows="3" placeholder="说点什么吧......"></textarea>
                        </div>
                        <div class="f-fr f-mt5">
                            <a href="#" class="btn btnv1 f-fs16">发 送</a>
                        </div>
                    </div>
                    <div class="commlist f-mt20">
                        <div class="f-fs18 commhr">
                            评论 <span class="f-fs12 f-ml10">(15条)</span>
                        </div>
                        <div class="author">
                            <a href="#" class="avatar">
                                <img src="/static/img/1c.jpg">
                            </a>
                            <div class="info f-fs16">
                                <span><a href="#">没有梦想的咸鱼</a></span>
                                <div class="f-mt5 f-cr4 f-fs12">
                                    <span>2017.06.08 11:00</span>
                                </div>
                            </div>
                            <div class="commcontent">
                                我觉得哈哈哈
                            </div>
                        </div>
                        <div class="author">
                            <a href="#" class="avatar">
                                <img src="/static/img/1c.jpg">
                            </a>
                            <div class="info f-fs16">
                                <span><a href="#">没有梦想的咸鱼</a></span>
                                <div class="f-mt5 f-cr4 f-fs12">
                                    <span>2017.06.08 11:00</span>
                                </div>
                            </div>
                            <div class="commcontent">
                                我觉得哈哈哈
                            </div>
                        </div>
                        <div class="viewmore">
                            <a>查看更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}