{% extends "base.html" %} {% block main %}
<div class="content-ot">
    <div class="f-pwc">
        <div class="msg">
            <div class="errinfo"></div>
            <div class="okinfo"></div>
        </div>
        <div class="login">
            <div class="f-fs16 f-tac f-mt30 f-mb20">
                欢迎回来，请登录
            </div>
            <div class="f-pd30">
                <form id="loginform">
                    <div>邮箱</div>
                    <div>
                        <input type="text" id="email" name="email" placeholder="请输入邮箱" class="l-txt l-txtwh" />
                    </div>
                    <div class="f-pt10">密码</div>
                    <div>
                        <input type="password" id="password" name="password" placeholder="请输入密码" class="l-txt l-txtwh" />
                    </div>
                </form>
            </div>
            <div class="f-m30 f-fr">
                <a class="btn btnv5 f-wm f-fs16" id="login">登 录</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var url = window.location.href;
        var param = url.substring(url.lastIndexOf('/') + 1, url.length);
        $.get('/api/register/' + param, function (data) {
            if (data.code == "1") {
                $(".okinfo").html(data.msg);
                $(".okinfo").css('display', 'inline-block');
            } else {
                $(".errinfo").html(data.msg);
                $(".errinfo").css('display', 'inline-block');
            }
        })
    })

</script>
{% endblock %}