/* 全局默认样式 */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
iframe{ border: 1px solid #FFF;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}/*去除输入域可拖动*/
label,summary{cursor:default;}
a,button{cursor:pointer;}/*链接按钮强制手型*/
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}/*标题粗体*/
del,ins,u,s,a,a:hover{text-decoration:none;}/*全局去除下划线*/
body,textarea,input,button,select,keygen,legend{font:14px/1.14 "Microsoft YaHei","Lucida Sans Unicode","Myriad Pro","Hiragino Sans GB","Heiti SC",Verdana,simsun,\5b8b\4f53;color:#333;outline:0;}/*全局字体样式*/
body{background:#f3f4f8;border: none;}/*全局页面背景色 min-width: 980px;备用颜色color: #8fa4af; */
img{border-radius: 4px;}
.min-wa{ min-width: 100px !important;}
a{color:#96c32a;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover {
    color: #7ba80e;
    text-decoration: none; 
}
/* 功能性样式 */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
/*颜色*/
.f-cr1{ background: #efcee8 !important;}
.f-cr2{color:#8fa4af !important;}
.f-cr3{background: #fff !important;}
.f-cr4{color:#999 !important;}
/*居中*/
.f-pwc{ width: 980px;margin: 0 auto;}
.f-mpwc{min-width: 980px}
.f-w150{ width: 150px !important;}
.f-wm{ margin: 0 auto !important;}
.f-m30{margin: 0 30px !important;}
/*相对定位*/
.f-oh{overflow:hidden;}
/*左右浮动*/
.f-fl{float:left;}
.f-fr{float:right;}
/*字体左右对齐*/
.f-tal{text-align:left !important;}
.f-tac{text-align:center !important;}
.f-tar{text-align:right !important;}
/*字体大小*/
.f-fs12{font-size:12px !important;}
.f-fs13{font-size:13px !important;}
.f-fs14{font-size:14px !important;}
.f-fs15{font-size:15px !important;}
.f-fs16{font-size:16px !important;}
.f-fs18{font-size:18px !important;}
.f-fs20{font-size:20px !important;}
.f-fs22{font-size:22px !important;}
.f-fs24{font-size:24px !important;}
.f-fs25{font-size:25px !important;}
.f-fs28{font-size:28px !important;}
.f-fs36{font-size:36px !important;}
/*边框*/
.card{
    background: #fff;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
    box-sizing: border-box;
}
.cardshow{
    background: #fff;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
    box-sizing: border-box;
    color: #333;
}
.tcard{
    border: 1px solid #78bc85;
    padding: 2px 4px;
}
/*输入框边框*/
.l-txt{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    color: #263239;
    padding: 5px 12px;
}
.l-txt:hover{
    border: 1px solid #bac6cd;
}
.l-txt:focus{
    border: 1px solid #00a7f7;
}
/*是否有下边线*/
.f-bb{ border-bottom:1px solid #cfd0d0; margin-top: 10px;}
.f-bt{ border-top:1px solid #cfd0d0}
/*行高*/
.f-lhn{line-height:normal;}
.f-lh20{line-height:20px;}
.f-lh18{line-height:18px;}
.f-lh25{line-height:25px !important;}
.f-lh35{line-height:35px !important;}
.f-lh45{line-height:45px !important;}
/*边距*/
.f-fmb{ margin-bottom: 130px;}.f-fmb-lg{ margin-bottom: 260px;}/*增加页面底部边距*/
.f-pdl{ padding-left: 2em}/*左边距*/
.f-pdl2{padding-left:45px}
.f-pdl3{padding-left:80px}
.f-mt0{ margin-top: 0 !important;}
.f-mt2{ margin-top:2px !important;}
.f-mt9{ margin-top: 9px !important;}
.f-mt5{ margin-top: 5px !important;}
.f-mt6{ margin-top: 6px !important;}
.f-mt10{ margin-top: 10px !important;}
.f-mt15{ margin-top: 15px !important;}
.f-mt20{ margin-top:20px !important;}
.f-mt21{ margin-top:21px !important;}
.f-mt30{ margin-top: 30px !important;}
.f-mt50{ margin-top: 50px !important;}
.f-mt70{ margin-top: 70px !important;}
.f-mt100{ margin-top: 100px !important;}
.f-mb0{ margin-bottom: 0px !important;}
.f-mb5{ margin-bottom: 5px !important;}
.f-mb10{ margin-bottom: 10px !important;}
.f-mb15{ margin-bottom: 15px !important;}
.f-mb20{ margin-bottom: 20px !important;}
.f-mb30{ margin-bottom: 30px !important;}
.f-mb40{ margin-bottom:40px !important;}
.f-mb50{ margin-bottom: 50px !important;}
.f-ml0{ margin-left: 0px !important;}
.f-ml5{ margin-left: 5px !important;}
.f-ml10{ margin-left: 10px !important;}
.f-ml15{ margin-left: 15px !important;}
.f-ml20{ margin-left: 20px !important;}
.f-ml30{ margin-left: 30px !important;}
.f-ml50{ margin-left: 50px !important;}
.f-ml60{ margin-left: 60px !important;}
.f-ml90{ margin-left: 90px !important;}
.f-ml100{ margin-left: 100px !important;}
.f-mr5{ margin-right: 5px !important;}
.f-mr10{ margin-right: 10px !important;}
.f-mr15{ margin-right: 15px !important;}
.f-mr30{ margin-right: 30px !important;}
.f-mr50{ margin-right: 50px !important;}
.f-pd30{padding: 30px !important;}
.f-pt10{padding-top: 10px !important;}
.f-m30{margin: 30px;}
label{
    width: 160px;
    text-align: right;
    display:inline-block;
}
/*按钮*/
.btn {
    font-size: 13px;
    display: block;
    border: 1px solid #d1d2d2;
    border-radius: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    color: #666;
    padding: 0 13px;
    text-align: center;
    cursor: pointer;
    text-decoration: none !important;
}
.btn.btnv1 {
    height: 34px;
    line-height: 34px;
    width: 62px;
}
.btn.btnv1.h {
    height: 38px;
    line-height: 38px;
}
.btn.btnv2 {
    width: 146px;
    height: 36px;
    line-height: 36px;
}
.btn.btnv3 {
    width: 213px;
    height: 36px;
    line-height: 36px;
}
.btn.btnv4 {
    width: 252px;
    height: 36px;
    line-height: 36px;
}
.btn.btnv5 {
    height: 40px;
    width: 80px;
    line-height: 40px;
}

