/*导航栏*/
.tab-bar {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    height: 100px;
    width: 100%;
    background-color:#333;
    position: absolute;
    font-size: 24px;
    line-height: 100px;
    z-index:5;
    top:0;
}
.tab-bar2{
    height: 100px;
    width: 100%;
    background: #333;
    font-size: 24px;
    line-height: 100px;
    overflow: hidden;
}
.tab-bar a{
    outline:none;
    color: #fff;
}
.tab-bar li{
    display: inline-block;
    margin-left: 20px;
}
.tab-bar li a{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

.tab-bar .active a,
.tab-bar .active a:hover,
.tab-bar .active a:focus {
  border-bottom-color: #fff;
  padding-bottom: 10px;
}

.tab-bar li a:hover,
.tab-bar li a:hover,
.tab-bar li a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
  padding-bottom: 10px;
}

/*底部*/
.footer {
    height: 100px;
    width: 100%;
    background: #333;
    line-height: 100px;
    color: #FFF;
    overflow: hidden;
    position:absolute;
    bottom:0px;
    z-index:200;
}

/*index*/
.content{
    background: #333;
    color: #fff;
    width: 100%;
    position:absolute;
    z-index:100;
    top:100px;
    bottom:100px;
    overflow:hidden;
}

.slogan{
    width: 50%; 
    height:50%; 
    overflow: hidden; 
    margin: auto; 
    position: fixed;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    color: #fff;
    text-align: center;
}


.slogan p{
    padding-top: 50px;
}

/*登录*/
.content-ot{
    width: 100%;
    position:absolute;
    z-index:1;
    top:100px;
    bottom:100px;
    overflow:hidden;
}
.login{
    background: #fff;
    width: 470px; 
    height:400px; 
    overflow: hidden; 
    margin: auto; 
    position: fixed;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
}

.l-txtwh{
    height: 42px;
    width: 94%;
}
.login .f-pd30 div{
    margin-top: 10px;
}

/*修改资料*/
.card div{
    margin: 0 30px;
}

.txtnn{
    width: 200px;
    height: 25px;
}
.ta-wh{
    width: 540px;
    height: 75px;
    line-height: 25px;
}

/*发布*/
#editor{
    margin: 0px;
}
#editor div{
    margin: 0px;
}
#editor .w-e-toolbar div{
    margin-left: 8px;
}
.w-e-text-r{
    padding: 0 10px;
    overflow-y:hidden !important;
}
.txt-write{
    width: 600px;
    height: 25px;
}
#tagspan>span:not(:first-child){
    margin-left: 10px;
}

/*列表*/
.contentlist{
    width: 100%;
    position:relative;
    top:100px;
}
.footer2 {
    height: 100px;
    width: 100%;
    background: #333;
    line-height: 100px;
    color: #FFF;
    position: relative;
    top: 115px;
}
.f-hlist{
    margin: 30px 30px 15px 30px;
}
.f-hpb{
    padding-bottom: 6px;
}
.f-hlist a:hover{
    text-decoration: underline;
}
.f-jpd{
    padding: 25px 0;
}
/*详情*/
.f-rdm{
    margin: 50px 180px;
}
.author{
    margin: 30px 0 40px;
}
.avatar{
    width:48px;
    height:48px;
    vertical-align: middle;
    display: inline-block;
}
.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.author .info{
    vertical-align: middle;
    display: inline-block;
    margin-left: 8px;
}
.author a:hover{
    text-decoration: none; 
}
.read-content{
    color: #2f2f2f;
    word-break: break-word;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.btn-like{
    font-size: 20px;
    height: 50px;
    width: 180px;
    line-height: 50px;
    border: 1px solid #ea6f5a;
    border-radius: 40px;
}
.btn-like a{
    color: #ea6f5a; 
}
.btn-like a:hover{
    text-decoration: none; 
}
.btn-like:hover{
    background: #F5F6EB;
}
.like-icon{
    width: 24px;
    height: 22px;
    background-position: 0 center;
    padding-left: 28px;
    background-size:24px 22px;  
    background-repeat: no-repeat;
    background-image: url(../img/like2.png);
    margin-left: 25px;
}
.like-num{
    border-left:1px solid #ccc; 
    padding-left:12px; 
    margin-left:10px;
}
.commwh{
    width: 534px;
    height: 60px;
    line-height: 20px;
    background: rgba(87,173,106,0.06);
}
.comm a:hover{
    border: 1px solid #78bc85;
}
.commhr{
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}   
.commcontent{
    margin-left: 60px;
    margin-top: 10px;
    padding-bottom: 50px;
    border-bottom: 1px solid #f2f2f2;
}
.viewmore{
    text-align: center;
}
.viewmore a{
    color: #78bc85;
}
.viewmore a:hover{
    text-decoration: none; 
}

.errorinfo{
    border: 1px solid #00a7f7;
    border-radius: 4px;
    color: #263239;
}

.errorinfo:focus{
    border: 1px solid red;
}